@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Integral CF';
  font-display: swap;
  font-weight: 900;
  src: url('./assets/fonts/IntegralCF-Bold.otf') format('opentype');
}

@layer components {
  .side-scrollbar-hide {
    scrollbar-width: none;
  }

  .side-scrollbar-hide::-webkit-scrollbar {
    display: none !important;
    height: 0;
    width: 0;
    background-color: transparent;
  }
}

.ql-snow {
  height: 9%;
}

.ql-container {
  max-height: 91%;
}